header {
  background-color: yellow;
  height: 150px;
  border: 10px solid blue;
  margin: 10px;
}

section {
  background-color: orange;
  height: 300px;
  border: 10px solid black;
  margin: 10px;
}

footer {
  background-color: yellow;
  height: 150px;
  border: 10px solid blue;
  margin: 10px;
}
